@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=K2D:wght@100&display=swap');
*{
    box-sizing: border-box;
  }
  
  body{
    margin:0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size:17px;
    color:white;
    line-height:1.6;
  }
  
  #showcase{
    background-image:url('image/acloud.jpg');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:left;
    padding:0 20px;
  }
  
  #showcase h1{
    font-size:50px;
    line-height:1.2;
  }
  
  #showcase p{
    font-size:20px;
  }

  nav{
    width: 100%;
    height: 75px;
    background-color: #244261;
    line-height: 50px;
    padding: 0px 100px;
    position: fixed;
    z-index: 3;
    font-family: 'Bona Nova', serif;
}

nav.logo{
    font-size: 30px;
    font-weight:bold;
    letter-spacing: 1.5px;
    font-family: 'Bona Nova', serif;
   
}

nav .logo p{
    float: left;
    color: white;
    font-size: 25px;
    font-family: 'Bona Nova', serif;
    line-height: 30px;
}

nav ul{
    float: right;
    
}

nav ul li{
    display:inline-block;
    list-style: none;
    
}

nav ul li a{
    color: white ;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px 30px;
    font-family: 'Bona Nova', serif;
}

nav ul li a:hover{
    color: #ff9d9d;
}


.voc{
    font-family:'Times New Roman','K2D', serif;
    font-size:18px; 
    
    padding-top:65px;
    padding-left:38px;
    color:white;
    z-index: 1;
    
}

.voc p{
    font-size:23px;
}