@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=K2D:wght@100&display=swap');
*{
    box-sizing: border-box;
  }
  
  body{
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:1rem;
    font-weight:normal;
    line-height:1.5;
    color:#333;
    overflow-x:hidden;
  }
  
  .v-header{
    height:100vh;
    display:flex;
    align-items:center;
    color:#fff;
  }
  
  .container{
    max-width:960px;
    padding-left:7rem;
    padding-right:7rem;
    margin:auto;
    text-align:center;
  }
  
  .fullscreen-video-wrap{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    overflow:hidden;
  }
  
  .fullscreen-video-wrap video{
    min-height:100%;
    min-width:100%;
  }
  
  .header-overlay{
    height:100vh;
    position: absolute;
    top:0;
    left:0;
    width:100vw;
    z-index:1;
    background:#225470;
    opacity:0.5;
  }
  
  .header-content{
    z-index:2;
  }
  
  .header-content h1{
    font-size:50px;
    margin-bottom:0;
  }
  
  .header-content p{
    font-size:1.5rem;
    display:block;
    padding-bottom:2rem;
  }
  
  .btn{
    background: #244261;
    color:#fff;
    font-size:1.2rem;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius:10px;
  }
  
  .section{
    padding:20px 0;
    color:#244261;
  }
  
  .section-b{
    background:#225470;
    color:#fff;
  }
  @media(max-width:960px){
    .container{
      padding-right:3rem;
      padding-left:3rem;
    }
  }


nav{
    width: 100%;
    height: 75px;
    background-color: #244261;
    line-height: 50px;
    padding: 0px 100px;
    position: fixed;
    z-index: 3;
    font-family: 'Bona Nova', serif;
}

nav.logo{
    font-size: 30px;
    font-weight:bold;
    letter-spacing: 1.5px;
    font-family: 'Bona Nova', serif;
   
}

nav .logo p{
    float: left;
    color: white;
    font-size: 25px;
    font-family: 'Bona Nova', serif;
    line-height: 30px;
}

nav ul{
    float: right;
    
}

nav ul li{
    display:inline-block;
    list-style: none;
    
}

nav ul li a{
    color: white ;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px 30px;
    font-family: 'Bona Nova', serif;
}

nav ul li a:hover{
    color: #ff9d9d;
}

p{
    font-family:'Times New Roman','K2D', serif;
    font-size: 25px;
}
